@model CampanhaBD.UI.WEB.ViewModel.AtualizarViewModel

@{
    ViewBag.Title = "Atualização";
}

<div class="box-header with-border">
    <h3 class="box-title">Selecione os arquivos a serem importados (.csv)</h3>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
            @Html.LabelFor(model => model.LayoutArquivo, htmlAttributes: new { @class = "control-label" })<br />
            @Html.DropDownListFor(model => model.LayoutArquivo, Model.ListaLayout, null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="file" class="btn btn-file" name="File" id="File" />
    </div>

    <p class="text-red">@ViewBag.Mensagem</p>

    <div class="box-footer">
        <input type="submit" class="btn btn-primary" name="submit" value="Salvar" />
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info pull-right" })
    </div>
}