<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="CampanhaBD" connectionString="Data Source=RAFAEL\SQLEXPRESS;Initial Catalog=CampanhaBD;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>